<div class="row row-cols-1 row-cols-sm-4 g-4">
    <div class="col">
        <div class="card">
            <img src="../assets/avatar.jpg" class="card-img-top imagen "alt="...">
            <div class="card-body text-light">
                <p class="card-text">AVATAR</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/coco.jpg" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">COCO</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/encanto.jpg" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">ENCANTO</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/frozen.png" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">FROZEN</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/hotel transilvania.jpg" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">HOTEL TRANSILVANIA</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/los croods.jpg" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">LOS CROODS</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/descarga.jfif" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">OLÉ</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../assets/raya el ultimo dragon.jpg" class="card-img-top imagen" alt="...">
            <div class="card-body text-light">
                <p class="card-text">RAYA EL ULTIMO DRAGÓN</p>
            </div>
        </div>
    </div>
</div>
