.card-body{
    background-color: #0a0b1c;
}
.card {
    height: 450px;
    text-align: center;
}
.imagen {
    height: 400px;
    object-fit: cover;
}
.card-text {
    color: white;
    height: 25px;
}