<h5 style="font-style: 50px; color: white;">inicio works!</h5>
<section class="mt-5 mx-5 text-light">
    <h1>PelisUP!</h1>
    <h6>Plataforma para ver películas y Series 😉</h6>
</section>
<section class="my-5 mx-5">
    <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i>
            <input  class=" form-control" type="text" id="exampleFormControlInput1"
                placeholder="Buscar películas y series" [(ngModel)]="search" (ngModelChange)="searchMovie()">
        </span>
    </div>
</section>
<section>
    <div class="mx-5 d-flex ">
        <div class="card-group">
    <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''"
     class="btn btn-outline-info" (click)="changeFilter('Todos')">Todos</button>
        </div>
        <div class="card-group">
            <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''" 
            class="btn btn-outline-info" (click)="changeFilter('Películas')">Películas</button>
        </div>
        <div class="card-group">
            <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''"
             class="btn btn-outline-info" (click)="changeFilter('Series')">Series</button>
        </div>
    </div>
</section>
<section class="mt-5 mx-5">
    <div class="my-3 d-flex text-light">
        <h4>Todos</h4>
        <h6>(120)</h6>
    </div>
    <!--<app-movie-card></app-movie-card>-->
    <div class="card" style="width: 20%;" *ngIf="movies_series_aux?.name">
        <img [src]="movies_series_aux?.image" class="card-img-top imagen " [alt]="movies_series_aux?.name">
        <div class="card-body text-light">
            <h2>{{movies_series_aux?.name}}</h2>
            <p class="card-text ">{{movies_series_aux?.description}}</p>
            <p class="card-text ">RATING: {{movies_series_aux?.rating}}</p>
        </div>
    </div>
    <div *ngIf="!movies_series_aux?.name" class="row row-cols-1 row-cols-sm-4 g-4">
        <div class="col" *ngFor="let movie of movies_series">
            <div *ngIf="movie.category === 'Movie' && filter === 'Películas'">
                <div class="card">
                    <img [src]="movie.image" class="card-img-top imagen " [alt]="movie.name">
                    <div class="card-body text-light">
                        <h2>{{movie.name}}</h2>
                        <p class="card-text ">{{movie.description}}</p>
                        <p class="card-text ">RATING: {{movie.rating}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="movie.category === 'series' && filter === 'Series'">
                <div class="card">
                    <img [src]="movie.image" class="card-img-top imagen " [alt]="movie.name">
                    <div class="card-body text-light">
                        <h2>{{movie.name}}</h2>
                        <p class="card-text ">{{movie.description}}</p>
                        <p class="card-text ">RATING: {{movie.rating}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="filter === 'Todos'">
                <div class="card">
                    <img [src]="movie.image" class="card-img-top imagen " [alt]="movie.name">
                    <div class="card-body text-light">
                        <h2>{{movie.name}}</h2>
                        <p class="card-text ">{{movie.description}}</p>
                        <p class="card-text ">RATING: {{movie.rating}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>