<h5 style="font-style: 50px; color: white;">inicio works!</h5>
<section class="mt-5 mx-5 text-light">
    <h1>PelisUP!</h1>
    <h6>Plataforma para ver películas y Series 😉</h6>
</section>
<section class="my-5 mx-5">
    <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i>>
            <input type="search" class="form-control" id="exampleFormControlInput1"
                placeholder="Buscar películas y series">
        </span>
    </div>
</section>
<section>
    <div class="mx-5 d-flex ">
        <div class="card-group">
            <a href="#" class="btn btn-outline-info">Todos</a>
        </div>
        <div class="card-group">
            <a href="#" class="btn btn-outline-info">Películas</a>
        </div>
        <div class="card-group">
            <a href="#" class="btn btn-outline-info">Series</a>
        </div>
    </div>
</section>
<section class="mt-5 mx-5">
    <div class="my-3 d-flex text-light">
        <h4>Todos</h4>
        <h6>(120)</h6>
    </div>
    <app-movie-card></app-movie-card>
</section>
