<h5 style="font-style: 50px; color: white;">inicio works!</h5>
<section class="mt-5 mx-5 text-light">
    <h1>PelisUP!</h1>
    <h6>Plataforma para ver películas y Series 😉</h6>
</section>
<section class="my-5 mx-5">
    <div class="mb-3 input-group">
        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i>
            <input  class=" form-control" type="text" id="exampleFormControlInput1"
                placeholder="Buscar películas y series" [(ngModel)]="search" (ngModelChange)="searchMovie()">
        </span>
    </div>
</section>
<section>
    <div class="mx-5 d-flex ">
        <div class="card-group">
    <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''"
     class="btn btn-outline-info" (click)="changeFilter('Todos')">Todos</button>
        </div>
        <div class="card-group">
            <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''" 
            class="btn btn-outline-info" (click)="changeFilter('Películas')">Películas</button>
        </div>
        <div class="card-group">
            <button [ngClass]="filter === 'Todos' ? 'btn-selected' :''"
             class="btn btn-outline-info" (click)="changeFilter('Series')">Series</button>
        </div>
    </div>
</section>
<section class="mt-5 mx-5">
    <div class="my-3 d-flex text-light">
        <h4>Todos</h4>
        <h6>(120)</h6>
    </div>
    <div class="container">
        <div class="row" *ngIf="filter === 'Todos'">
            <div class="col-3 m-2" *ngFor="let item of movies_series">
                <app-movie-card [titulo]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
            </div>
        </div>
        <div class="row" *ngIf="filter === 'Películas'">
            <div class="col-3 m-2" *ngFor="let item of movies">
                <app-movie-card [titulo]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
            </div>
        </div>
        <div class="row" *ngIf="filter === 'Series'">
            <div class="col-3 m-2" *ngFor="let item of series">
                <app-movie-card [titulo]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
            </div>
        </div>
    </div>
    <!--<app-movie-card></app-movie-card>-->
   
</section>